@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

body {
  min-width: 1200px;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #333333;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  padding: 0 70px;
}

.navigation {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding-left: 168px;
  flex-grow: 1;
}

.navigation-logo {
  position: absolute;
  left: 0;
  top: 0;
}

.navigation-logo:hover {
  opacity: 0.8;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  max-width: 176px;
  margin: 0;
  margin-left: auto;
  margin-right: 20px;
  padding: 0;

  list-style-type: none;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.navigation-link-current::after {
  content: "";
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: -1px;
  display: block;
  height: 2px;
  background-color: #756257;
}

.navigation-user .navigation-user-link {
  position: relative;
  display: block;
  width: 44px;
  min-height: 64px;
}

.navigation-link:hover,
.navigation-user-link:hover {
  opacity: 0.6;
}

.navigation-link:active,
.navigation-user-link:active {
  opacity: 0.2;
}

.navigation-user-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.navigation-user-link-search::before {
  background-image: url("../images/svg/search.svg");
}

.navigation-user-link-favorite::before {
  background-image: url("../images/svg/favourite.svg");
}

.notification-badge {
  position: absolute;
  top: 11px;
  left: 20px;
  min-width: 20px;
  min-height: 20px;
  color: #ffffff;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: #7db54f;
}

.bttn {
  display: inline-block;
  padding: 8px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background: none;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.bttn-brown {
  background-color: #756157;
  border-radius: 4px;
}

.bttn-brown:hover {
  background-color: #615048;
}

.bttn-brown:focus-visible {
  background-color: #615048;
  outline: none;
}

.bttn-brown:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #756157;
}

.bttn-blue {
  background-color: #82b3d3;
  border-radius: 4px;
}

.bttn-blue:hover {
  background-color: #68a2ca;
}

.bttn-blue:focus-visible {
  background-color: #68a2ca;
  outline: none;
}

.bttn-blue:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #82b3d3;
}

.bttn-blue:disabled {
  background-color: #e5e5e5;
}

.bttn-green {
  background-color: #7db54f;
  border-radius: 4px;
}

.bttn-green:hover {
  background-color: #6c9e42;
}

.bttn-green:focus-visible {
  background-color: #6c9e42;
  outline: none;
}

.bttn-green:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #7db54f;
}

.bttn-green:disabled {
  background-color: #e5e5e5;
}

.bttn-submit {
  margin-bottom: 32px;
}

.bttn-submit,
.bttn-reset {
  width: 191px;
  font-family: inherit;
  border: none;
}

.bttn-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.bttn-reset:focus-visible {
  outline: 3px solid #83b3d3;
}

.bttn-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.bttn-reset:disabled {
  color: rgba(255, 255, 255, 0.1);
}

.bttn-big {
  font-size: 20px;
  line-height: 36px;
}

.title {
  margin: auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.title-white {
  color: #ffffff;
}

.subtitle {
  margin: 0 auto 54px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.catalog-products-title {
  margin: 0;
  margin-top: 7px;
  max-width: 450px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.subtitle-white {
  color: #ffffff;
}

.small-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.small-title-white {
  color: #ffffff;
}

.small-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: center;
}

.small-subtitle-white {
  color: #ffffff;
}

.header-button {
  margin-top: 14px;
  width: 160px;
  border-radius: 4px;
}

.hero {
  padding: 51px 50px 82px;
  text-align: center;
  background: url("../images/svg/divider.svg"),
    url("../images/index-background.jpg");
  background-color: #333333;
  background-size: 100% auto, cover;
  background-position: bottom left, top left;
  background-repeat: no-repeat;
}

.hero img {
  vertical-align: bottom;
}

.main-index {
  text-align: center;
}

.advantages {
  padding-top: 69px;
}

.advantages-container {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 69px;
}

.lead-subtitle {
  margin: 0;
  margin-top: 25px;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 21px;
  list-style-type: none;
}

.advantages-list p,
.infrastructure-lead-list p {
  margin: 0;
}

.advantages-item {
  width: 400px;
  min-height: 385px;
  flex-grow: 1;
}

.advantages-item-special {
  display: flex;
  width: 100%;
}

.adv-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 102px 84px;
}

.advantages-item-special .paragraph {
  display: flex;
  width: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 102px 84px;
}

.advantages .small-title {
  position: relative;
}

.advantages .small-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin: 30px auto 0;
  background-color: currentColor;
  opacity: 0.3;
}

.advantages-list li:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-list li:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list .advantages-item.advantages-item-wide {
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-item-wide .subtitle {
  color: #ffffff;
}

.paragraph-photo {
  display: flex;
  height: auto;
}

.infrastructure {
  padding-top: 64px;
}

.infrastructure-container {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  margin: 0 auto;
  padding-bottom: 64px;
}

.infrastructure-lead-subtitle {
  margin: 0;
  margin-top: 20px;
}

.infrastructure-lead-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.infrastructure-item {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 385px;
  padding: 80px 85px;
}

.infrastructure-lead-list li:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.infrastructure .small-title {
  position: relative;
}

.infrastructure .small-title::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto 30px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.infrastructure-icon-house::before {
  background-image: url("../images/svg/house.svg");
}

.infrastructure-icon-food::before {
  background-image: url("../images/svg/food.svg");
}

.infrastructure-icon-gift::before {
  background-image: url("../images/svg/gift.svg");
}

.advantages-item-dark {
  background: rgba(131, 179, 211, 0.2);
}

.infrastructure-lead {
  text-transform: uppercase;
}

.search {
  padding: 96px 300px;
}

.search-description {
  margin: 0;
  margin-top: 20px;
}

.search-button {
  width: 376px;
  margin-top: 54px;
}

.subscribe {
  padding: 96px 250px 104px;
}

.subscribe.subscribe-theme-custom {
  background: url("../images/subscribe-background.jpg");
  background-color: #333333;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.subscribe-form {
  display: flex;
  width: 684px;
  margin: 0 auto;
}

.subscribe-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.subscribe-button {
  width: 232px;
  margin: 0;
  border-radius: 0 4px 4px 0;
  font-size: 20px;
  line-height: 36px;
}

.input-email {
  width: 452px;
  height: 52px;
  padding: 14px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.input-email::-webkit-input-placeholder {
  color: #000000;

  opacity: 0.6;
}

.input-email::-moz-placeholder {
  color: #000000;

  opacity: 0.6;
}

.input-email:-ms-input-placeholder {
  color: #000000;

  opacity: 0.6;
}

.input-email::-ms-input-placeholder {
  color: #000000;

  opacity: 0.6;
}

.input-email::placeholder {
  color: #000000;

  opacity: 0.6;
}

.input-email:hover {
  background-color: #e5e5e5;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 45px 70px 35px;
}

.footer-social-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  fill: #83b3d3;
}

.footer-social-link {
  position: relative;
  display: block;
  width: 47px;
  min-height: 40px;
  padding: 10px 12px;
}

.footer-social-link:focus-visible,
.html-academy-link:focus-visible {
  outline: none;
}

.footer-social-link:hover svg {
  fill: #68a2ca;
}

.footer-social-link:focus-visible svg {
  fill: #68a2ca;
}

.footer-social-link:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

.phone-number {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-phone {
  max-width: 500px;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  white-space: nowrap;
}

.footer-phone:hover {
  color: #756157;
}

.footer-phone:focus-visible {
  color: #756157;
  outline: none;
}

.footer-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-logo {
  display: flex;
  margin-top: 4px;
  fill: #000000;
  vertical-align: bottom;
}

.htmlacademy-link:hover svg {
  fill: #756157;
}

.htmlacademy-link:focus-visible svg {
  fill: #756157;
}

.htmlacademy-link:active svg {
  fill: rgba(117, 97, 87, 0.3);
}

/* каталог */

.filters {
  padding: 35px 70px 70px;
  min-height: 412px;
  background-image: url("../images/catalog-background.jpg");
  background-color: #333333;
  background-size: cover;
  background-repeat: no-repeat;
}

.inner-header-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  display: flex;
  gap: 10px;
  margin-left: 10px;
}

.breadcrumbs-item:first-child {
  margin-left: 0;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  display: block;
  width: 8px;
  height: 21px;
  background-image: url("../images/svg/breadcrumbs.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.breadcrumbs-item:first-child .breadcrumbs-link::before {
  content: "";
  display: block;
  width: 13px;
  height: 21px;
  background-image: url("../images/svg/home.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-group {
  max-width: 152px;
  margin: 0;
  padding: 0;
  border: 0;
}

.catalog-filter-group:nth-child(odd) {
  margin-right: 70px;
}

.catalog-filter-group:nth-child(3) {
  max-width: 290px;
  margin-left: auto;
}

.housing-type {
  margin-right: auto;
}

.catalog-filter-title {
  padding-left: 0;
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-list .catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-filter-item .control {
  position: relative;
  display: block;
  padding-left: 36px;
  line-height: 23px;
  color: #ffffff;
}

.catalog-filter-item .control:hover {
  opacity: 0.6;
}

.catalog-filter-item .control:active {
  opacity: 0.3;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
}

.control-mark.radio {
  border-radius: 50%;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13px;
  height: 11px;
  background-image: url("../images/svg/checkbox.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.control-input[type="radio"]:checked + .control-mark.radio::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3f5e72;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.control:has(> .control-input:disabled) {
  opacity: 0.1;
}

.control-input:focus-visible + .control-mark {
  outline: 3px solid #83b3d3;
}

.range-wrapper {
  display: flex;
  gap: 2px;
  margin-bottom: 44px;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: #5f686c;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  cursor: grab;
}

.range-toggle:focus-visible {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  outline: 3px solid #83b3d3;
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
  cursor: grabbing;
}

.filter-range-control {
  position: relative;
  display: inline-block;
  width: 143px;
  height: 48px;
}

.filter-range-control:first-of-type,
.filter-range-control:first-of-type .range-slider-input {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.filter-range-control:last-of-type,
.filter-range-control:last-of-type .range-slider-input {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.filter-range-control:has(> .price-input:disabled) {
  opacity: 0.1;
}

.prefix {
  position: absolute;
  top: 12px;
  right: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.range-slider-input {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  font-family: inherit;
  border: none;
  background-color: #f2f2f2;

  -moz-appearance: textfield;
}

.range-slider-input::-webkit-outer-spin-button,
.range-slider-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.range-slider-input:hover {
  background-color: #e5e5e5;
}

.range-slider-input:focus-visible {
  outline: 3px solid #83b3d3;
  background-color: #e5e5e5;
}

.bttn-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 56px;
}

.catalog-products {
  padding: 50px 70px 60px;
  background-color: #ffffff;
}

.select-control {
  width: 292px;
  height: 49px;
  margin-left: auto;
  margin-right: 70px;
  padding: 12px 50px 12px 19px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: inherit;
  background-image: url("../images/svg/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 14px center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-control:hover {
  border-color: #68a2ca;
}

.select-control:focus-visible {
  border: 2px solid #68a2ca;
  outline: none;
}

.select-control:disabled {
  color: rgba(0, 0, 0, 0.3);

  outline: 1px solid rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.sorting {
  display: flex;
  margin-bottom: 40px;
  align-items: flex-start;
}

.view-buttons {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 8px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.view-button-link {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
}

.view-button-link:hover {
  border-color: #000000;
}

.view-button-link:focus-visible {
  border: 1px solid #68a2ca;
  outline: 1px solid #68a2ca;
}

.view-button-link:active {
  border-color: #000000;
}

.view-button-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 16px;
  height: 14px;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.type-tile::after {
  background-image: url("../images/svg/tile.svg");
}

.type-card::after {
  background-image: url("../images/svg/card.svg");
}

.type-list::after {
  background-image: url("../images/svg/list.svg");
}

.view-button-link.view-selected {
  border: 2px solid #000000;
}

.product-list {
  display: grid;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  padding-bottom: 40px;
  grid-template-columns: repeat(auto-fit, 340px);
  gap: 20px;
  list-style-type: none;
  border-bottom: 1px solid #e5e5e5;
}

.product-card {
  display: grid;
  width: 340px;
  padding: 20px;
  grid-template-columns: 140px 140px;
  grid-template-rows: 212px 1fr auto;
  gap: 16px 20px;
  align-items: start;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #e5e5e5;
}

.product-card-link-title {
  grid-column: 1/3;
  text-decoration: none;
}

.product-card-image {
  grid-column: 1/3;
  display: block;
}

.product-card-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.product-card-type {
  grid-column: 1/2;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-card-price {
  grid-column: 2/3;
  margin: 0;
  text-align: right;
}

.product-card-stars {
  position: relative;
  grid-column: 1/2;
  align-self: center;
  margin: 0;
  padding: 0;
}

.product-card-stars::before {
  content: "";
  display: block;
  height: 17px;
  background-image: url("../images/svg/icon-star.svg");
  background-repeat: space no-repeat;
  background-position: center;
}

.product-card-stars-2 {
  width: 42px;
}

.product-card-stars-3 {
  width: 66px;
}

.product-card-stars-4 {
  width: 89px;
}

.product-card-rating {
  grid-column: 2/3;
  justify-self: end;
  display: block;
  width: 140px;
  margin: 0;
  padding-top: 9px;
  padding-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background-color: #f2f2f2;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
}

.pagination {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style-type: none;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  height: 60px;
  padding: 10px 12px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
  background-color: #82b3d3;
}

.pagination-link:not(.pagination-current):not(.pagination-text):hover {
  background-color: #68a2ca;
  border: 1px solid #82b3d3;
}

.pagination-link:not(.pagination-current):focus-visible {
  background-color: #68a2ca;
  border: 1px solid #82b3d3;
  outline: none;
}

.pagination-link:not(.pagination-current):not(.pagination-text):active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-text {
  color: #000000;
  font-weight: 400;
  background-color: transparent;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

/* модальное окно */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  max-height: 600px;
  margin: auto;
  padding: 64px 70px;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  overflow: auto;
}

.modal-auth {
  width: 717px;
}

.modal-title {
  max-width: 530px;
  margin: 0;
  margin-bottom: 64px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  padding: 0;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-button::before,
.modal-close-button::after {
  content: "";
  position: absolute;
  left: 16px;
  right: 16px;
  width: 20px;
  height: 2px;
  background-color: #000000;
  -webkit-transform-origin: center;
  transform-origin: center;
}

.modal-close-button::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-close-button::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-close-button:hover {
  background-color: #e5e5e5;
}

.modal-close-button:focus-visible {
  background-color: #e5e5e5;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active::before,
.modal-close-button:active::after {
  opacity: 0.3;
}

.modal-container-close {
  display: none;
}

.modal-form-data {
  display: grid;
  grid-template-columns: 137px 110px 220px 110px;
  align-items: center;
  row-gap: 48px;
}

.input-wrapper {
  position: relative;
}

.modal-input {
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  width: 440px;
  height: 48px;
  padding: 12px 42px 12px 20px;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
  background-image: url("../images/svg/date.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  border: none;
  border-radius: 4px;
}

.modal-input::-webkit-input-placeholder {
  color: #000000;
  opacity: 0.6;
}

.modal-input::-moz-placeholder {
  color: #000000;
  opacity: 0.6;
}

.modal-input::-ms-input-placeholder {
  color: #000000;
  opacity: 0.6;
}

.modal-input::placeholder {
  color: #000000;
  opacity: 0.6;
}

.modal-input:hover {
  background-color: #e5e5e5;
}

.modal-input:focus-visible {
  background-color: #e5e5e5;
  outline: 3px solid #83b3d3;
}

.auth-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  color: #000000;
}

.input-message {
  position: absolute;
  font-size: 16px;
  line-height: 21px;
  top: 35px;
  left: 0;
  padding: 0 20px;
}

.message-error {
  color: #ff5757;
}

.modal-control-wrapper {
  display: flex;
}

.modal-form-data .modal-control {
  grid-column: 1/2;
}

.modal-form-data .input-wrapper {
  grid-column: 2/-1;
}

.adults {
  grid-column: 1/2;
}

.modal-form-data .modal-control-wrapper:first-of-type {
  grid-column: 2/3;
}

.form-label-children {
  grid-column: 3/4;
  margin-left: 88px;
  padding-right: 31px;
}

.modal-form-data .modal-control-wrapper:last-of-type {
  grid-column: 4/5;
}

.quantity-input {
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  width: 30px;
  height: 48px;
  line-height: 20px;
  text-align: center;
  border: none;
  color: #000000;
  background-color: #f2f2f2;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: textfield;
}

.quantity-input:hover {
  background-color: #e5e5e5;
}

.quantity-input:focus-visible {
  background-color: #e5e5e5;
  outline: none;
}

.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.bttn-left-wrap {
  position: relative;
  width: 40px;
  height: 48px;
  background-color: #f2f2f2;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.bttn-right-wrap {
  position: relative;
  width: 40px;
  height: 48px;
  background-color: #f2f2f2;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.bttn-quantity {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.bttn-quantity::before,
.bttn-quantity::after {
  position: absolute;
  content: "";
  top: 9px;
  left: 3px;
  width: 14px;
  height: 2px;
  background-color: #cdc7c4;
}

.bttn-increase::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.bttn-quantity:hover::before,
.bttn-quantity:hover::after {
  background-color: #000000;
}

.bttn-quantity:focus-visible {
  outline: 3px solid #82b3d3;
}

.bttn-quantity:focus-visible::before,
.bttn-quantity:focus-visible::after {
  background-color: #000000;
}

.bttn-quantity:active::before,
.bttn-quantity:active::after {
  background-color: #cccccc;
}

.bttn-big-modal {
  font-family: inherit;
  font-size: 20px;
  grid-column: 1/-1;
  padding: 18px;
  line-height: 24px;
  border: none;
  border-radius: 10px;
  background-color: #83b3d3;
}

.tooltip {
  position: absolute;
  width: 26px;
  height: 26px;
  margin-left: 10px;
}

.tooltip-toggle {
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

.tooltip-icon {
  display: block;
  width: 100%;
  height: 100%;
}

.tooltip-text {
  position: absolute;
  display: none;
  font-size: 16px;
  top: 100%;
  left: 50%;
  width: 256px;
  padding: 18px 18px 23px 22px;
  margin-top: 14px;
  line-height: 20px;
  color: #ffffff;
  background-color: #333333;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.tooltip-text::before {
  position: absolute;
  content: "";
  top: -9px;
  left: 50%;
  width: 19px;
  height: 9px;
  background-image: url("../images/svg/triangle.svg");
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus-visible + .tooltip-text {
  display: block;
}
