@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  background-color: #f2f2f2;
  box-shadow: 0 15px 0 0 #f2f2f2;

  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}

.visualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1200px;
  margin: 0 auto;
  border: #000000;
  flex-grow: 1;
  background-color: #ffffff;
}

.main-container {
  margin: 0 auto;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.header-container {
  margin: 0 auto;
  align-items: center;
  width: 920px;
  padding: 0 70px 0 210px;
  position: relative;
}

.navigation {
  display: flex;
  flex-direction: row;
  width: 920px;
  height: 64px;
  align-items: center;
}

.navigation-logo {
  position: absolute;
  top: 0;
  left: 70px;
}

.navigation-list {
  display: flex;
  column-gap: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  width: 268px;
  margin-left: auto;
}

.navigation-link {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.navigation-user .navigation-link {
  width: 44px;
  height: 64px;
}

.button {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  border: none;
}

.header-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
  padding: 8px 34px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  margin-left: auto;
  border-radius: 4px;
}

.index-hero {
  background-image: url("../images/decorate/divider.png"),
    url("../images/decorate/mountain.jpg");
  background-repeat: no-repeat;
  background-size: 100% 57px, cover;
  background-position: bottom center, center;
  text-align: center;
  padding: 51px 371px;
}

.main-description {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  padding: 69px 290px 25px;
  margin: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-image {
  object-fit: contain;
}

.advantages-item-wide {
  display: flex;
  width: 1200px;
  background-color: #82b3d3;
}

.advantages-item-wide-reverse {
  display: flex;
  flex-direction: row-reverse;
  margin: 0;
  padding: 0;
  width: 1200px;
  background-color: #82b3d3;
}

.advantages-row {
  display: flex;
  margin: 0 auto;
  padding: 0;
  border: 0;
}

.advantages-item-black {
  width: 400px;
  background-color: #83b3d3;
}

.main-advantages-title {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  background-color: #ffffff;
  padding: 25px 15px 69px;
  margin: 0;
}

.advantages-container-white {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 102px 85px;
}

.advantages-title-white {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #82b3d3;
  padding: 0;
  margin-bottom: 30px;
  margin-top: 0;
}

.advantage-description-white {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 0;
}

.advantages-container-black {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 112px 85px;
}

.advantages-title-black {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 30px 0;
  padding: 0;
}

.advantage-description-black {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: center;
  margin: 30px 0 0 0;
  padding: 0;
}

.advantages-item-light {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-medium {
  background: rgba(131, 179, 211, 0.2);
}

.services-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
}

.infrastructure-list {
  display: flex;
  width: 1200px;
  min-height: 385px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.main-infrastructure-description {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  padding: 64px 347px 20px;
  margin: 0;
}

.personal {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  padding: 20px 305px 64px;
  margin: 0;
}

.infrastructure-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 81px 85px;
}

.infrastructure-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 15px 0;
}

.infrastructure-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: center;
  margin: 15px 0 0 0;
}

.reservation {
  display: flex;
  flex-direction: column;
}

.reservation-container {
  display: flex;
  flex-direction: column;
  padding: 96px 304px;
}

.reservation-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding-bottom: 20px;
}

.reservation-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
  padding-bottom: 54px;
}

.reservation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  background-color: #756157;
  margin: 0 auto;
  padding: 8px 50px;
}

.newsletter {
  background-image: url(../images/decorate/Subscribe.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  width: 1200px;
  height: 414px;
  display: flex;
  flex-direction: column;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  padding: 96px 398px 20px;
}

.newsletter-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding: 0 362px;
}

.description-form {
  display: flex;
  flex-direction: row;
  width: 684px;
  height: 52px;
  margin: 54px 258px 104px;
}

.input-area {
  width: 452px;
  height: 52px;
  margin: 0;
  padding: 0;
  border: none;
}

.input-area-inner {
  width: 452px;
  height: 52px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #f2f2f2;
}

.subscribe-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #83b3d3;
  padding: 8px 50px;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.input-font {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

.socials-list {
  width: 142px;
  display: flex;
  list-style-type: none;
}

.academy-logo {
  width: 115px;
  /* padding: 0;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 41px; */
}

.contact-tel {
  width: 720px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.hotels-filter-container {
  margin: 0 auto;
  padding: 35px 70px 70px 70px;
}

.filter {
  display: flex;
}

.catalog-price-group {
  display: flex;
  border: none;
  padding: 0;
  margin: 0 0 0 70px;
  gap: 2px;
}

.button-price:first-of-type {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.button-price:last-of-type {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.button-price {
  width: 143px;
  height: 48px;
  padding: 0;
}

.price-range-wrapper {
  display: flex;
  flex-direction: column;
}

.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0 70px 0 0;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  padding-bottom: 32px;
}

.catalog-filter-list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.range {
  width: 288px;
  height: 20px;
  margin: 36px 0 0 70px;
}

.filter-button-submite {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  margin-bottom: 35px;
  padding: 8px 50px;
  border-radius: 4px;
}

.filter-button-reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: none;
  margin: 0;
  padding: 8px 57px;
}

.hotels-filter {
  background-image: url(../images/decorate/Filter.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hotel-search-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 8px;
}

.breadcrumps-container {
  display: flex;
  column-gap: 28px;
  margin: 0;
}

.breadcrumps-list {
  list-style-type: none;
  margin: 0 0 40px 0;
  padding: 0;
}

.breadcrumps-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.breadcrumps-link {
  margin: 0;
}

.price-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  padding-bottom: 32px;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  width: 191px;
  height: 104px;
  padding: 0;
  align-self: flex-end;
  margin-left: auto;
}

.search-result h2 {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.result-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  height: 49px;
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: 70px;
  margin-right: 70px;
}

.more-details {
  box-sizing: border-box;
  align-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  padding: 8px 26px;
  border-radius: 4px;
}

.catalog-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 18px;
  max-width: 1060px;
  margin: 0 auto;
  padding: 40px 0;
  border-bottom: 1px #e5e5e5 solid;
}

.catalog-item {
  width: 340px;
}

.catalog-item-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 19px;
  gap: 15px;
}

.catalog-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
  margin: 0;
}

.catalog-card-link {
  text-decoration: none;
}

.type-hotel-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.favorites-card {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  padding: 8px 20px;
  border-radius: 4px;
}

.favorites-card-current {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #7db54f;
  padding: 8px 20px;
  border-radius: 4px;
}

.catalog-buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.type-housing {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.catalog-item-price {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #333333;
}

.rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  display: block;
  border: 1px;
  border-radius: 4px;
  background-color: #f2f2f2;
  padding: 9px 22px 8px 26px;
}

.rating-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.raiting-stars {
  display: block;
  margin: 0;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 40px 70px 60px 70px;
  margin: 0;
  column-gap: 8px;
}

.pagination-link {
  display: inline-block;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: #82b3d3;
  border-radius: 4px;
  min-width: 60px;
  padding: 12px;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-more {
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: #000000;
  background-color: #ffffff;
}

.newsletter-inner {
  text-align: center;
  background-size: 100% auto;
  width: 1200px;
  height: 414px;
  display: flex;
  flex-direction: column;
}

.newsletter-inner .newsletter-title {
  color: #000000;
}

.newsletter-inner .newsletter-description {
  color: #333333;
}

.newsletter-inner .subscribe-button {
  color: #ffffff;
}

.select-control {
  width: 292px;
  height: 49px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
